#login {
	position: relative;
}
#login .login-fields {
	margin-top: 150px;
}
h1.title {
	text-align: center;
}
#login .input-login {
	display: table;
	margin: 0 auto;
}
#login button.btn {
	width: 160px;
}
.error {
	border: 1px solid red !important;
}
#users_list #users_table tbody tr {
	cursor: pointer;
}
#users_list .page_selector {
	display: table;
	margin: 0 auto;
}
#users_list .page_selector div{
	height: 18px;
    width: 18px;
    background-color: #dadada;
    display: block;
    border-radius: 50%;
    float: left;
    cursor: pointer;
}
#users_list .page_selector div.selected {
	background-color: black;
}
#users_list .page_selector img {
	float: left;
    height: 18px;
    width: 18px;
}