#login {
	position: relative;
}
#login .login-fields {
	margin-top: 150px;
}
#login h1 {
	text-align: center;
}
#login .input-login {
	display: table;
	margin: 0 auto;
}
#login button.btn {
	width: 160px;
}