#login {
	position: relative;
}
#login .login-fields {
	margin-top: 150px;
}
h1.title {
	text-align: center;
}
#login .input-login {
	display: table;
	margin: 0 auto;
}
#login button.btn {
	width: 160px;
}

.error {
	border: 1px solid red !important;
}